.container {
  @include flexbox(flex, column, center, center);
  position: relative;

  &__intro {
      color: $c_light;
      font-family: $f_text;
      font-size: 1.5em;
      opacity: 1;
      animation: fade-in 7s ease;
  }

  &__logo {
    width: 50vw;
  }
}

.fade-out {
    animation: fade-out 3s ease;
}

#particles-container {
  position: absolute;
  min-width: 100vw;
  min-height: 100vh;
  animation: particle-appear 10s ease-out;
}

.particle {
	position: absolute;
  border-radius: 40%;
}


