.window {
    @include flexbox(flex, column, center, center);

    &__box {
        @include flexbox(flex, column, center, center);
        background-color: $c_Background_dark;
        border-radius: 15px;
        box-shadow: 0px 0px 40px $c_primary;
        height: 60vh;
        padding: 20px;
        position: relative;
        width: 70vw;    
        
        animation: fade-in 3s ease;
    }
}
       
.question {
    color: $c_light;
    font-family: $f_text;
    font-size: 2em;
    
    animation: fade-in 5s ease;
}

ul {
    color: $c_light;
    font-family: $f_text;
    font-size: 2em;
    line-height: 1.5em;
    margin: 40px 0px;

    animation: fade-in 5s ease;

    li {
        text-shadow: 0px 0px 10px $c_secondary;
    }

    li:hover {
        color: darken($c_dark, 20%);
        cursor: pointer;
        text-shadow: 0px 0px 10px $c_primary;
    }
}
