.lastWindow {
	/*Décoration*/
	@include color($c_Background_dark,darken($c_dark, 20%));
	border-radius:5rem;
	font-family: $f_text;
	font-size: 1.6rem;
	text-shadow: 0px 0px 10px $c_primary;
	z-index: 2;

	
	/*Conteneur flex en colonne*/
	@include flexbox(flex, column, space-around, center);

	/*Position*/
	position: absolute;
	
	> div:nth-child(1) {
		/*Dimensions et image*/
		font-family: sans-serif;
		font-size: 5rem;
		line-height: 5rem;
		margin-right: 45px;
		margin-top: -250px;

		
		cursor: pointer;
	
		/*Alignement à droite*/
		align-self: flex-end;	
		transition: transform 0.3s;
	}

	> div:nth-child(1):hover {
		transform: scale(1.2);
	}

	> div:nth-child(2) {
		/*Décoration*/
		font-size: 3rem;
		margin-top: -450px;
	}
}

@media only screen and (max-width: 480px) {
	
	.lastWindow > div:nth-child(1) {
		font-size: 3rem;
		//line-height: 5rem;
		margin-right: 45px;
		margin-top: -250px;
	}

	.lastWindow > div:nth-child(2) {
		/*Décoration*/
		font-size: 2rem;
		padding: 10px;
	}
}