@charset "UTF-8";
@font-face {
  font-family: BenguiatStd;
  src: url(../font/BenguiatStd-Medium.otf);
}

/* Variables couleurs */
/* Variables typo */
/* variables tailles écrans */
/* Mixins */
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.container__intro {
  color: white;
  font-family: "BenguiatStd", serif;
  font-size: 1.5em;
  opacity: 1;
  -webkit-animation: fade-in 7s ease;
          animation: fade-in 7s ease;
}

.container__logo {
  width: 50vw;
}

.fade-out {
  -webkit-animation: fade-out 3s ease;
          animation: fade-out 3s ease;
}

#particles-container {
  position: absolute;
  min-width: 100vw;
  min-height: 100vh;
  -webkit-animation: particle-appear 10s ease-out;
          animation: particle-appear 10s ease-out;
}

.particle {
  position: absolute;
  border-radius: 40%;
}

@media only screen and (max-width: 480px) {
  .container__logo {
    width: 80vw;
  }
}

.window {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.window__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #272727;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 40px #E8221C;
          box-shadow: 0px 0px 40px #E8221C;
  height: 60vh;
  padding: 20px;
  position: relative;
  width: 70vw;
  -webkit-animation: fade-in 3s ease;
          animation: fade-in 3s ease;
}

.question {
  color: white;
  font-family: "BenguiatStd", serif;
  font-size: 2em;
  -webkit-animation: fade-in 5s ease;
          animation: fade-in 5s ease;
}

ul {
  color: white;
  font-family: "BenguiatStd", serif;
  font-size: 2em;
  line-height: 1.5em;
  margin: 40px 0px;
  -webkit-animation: fade-in 5s ease;
          animation: fade-in 5s ease;
}

ul li {
  text-shadow: 0px 0px 10px #718bfc;
}

ul li:hover {
  color: #0e0e0e;
  cursor: pointer;
  text-shadow: 0px 0px 10px #E8221C;
}

/* max-width, si l'écran est inférieur ou égal à 480px */
/* min-width, si l'écran est égal au supérieur à 480px */
@media only screen and (max-width: 480px) {
  .question {
    font-size: 1.5em;
    line-height: 1.5em;
  }
  ul {
    font-size: 1.5em;
    margin: 20px 20px;
  }
}

.lastWindow {
  /*Décoration*/
  background-color: #272727;
  color: #0e0e0e;
  border-radius: 5rem;
  font-family: "BenguiatStd", serif;
  font-size: 1.6rem;
  text-shadow: 0px 0px 10px #E8221C;
  z-index: 2;
  /*Conteneur flex en colonne*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*Position*/
  position: absolute;
}

.lastWindow > div:nth-child(1) {
  /*Dimensions et image*/
  font-family: sans-serif;
  font-size: 5rem;
  line-height: 5rem;
  margin-right: 45px;
  margin-top: -250px;
  cursor: pointer;
  /*Alignement à droite*/
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.lastWindow > div:nth-child(1):hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.lastWindow > div:nth-child(2) {
  /*Décoration*/
  font-size: 3rem;
  margin-top: -450px;
}

@media only screen and (max-width: 480px) {
  .lastWindow > div:nth-child(1) {
    font-size: 3rem;
    margin-right: 45px;
    margin-top: -250px;
  }
  .lastWindow > div:nth-child(2) {
    /*Décoration*/
    font-size: 2rem;
    padding: 10px;
  }
}

/* Fade-in typo Intro */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Fade-out contenu Intro */
@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Animation des particules Intro */
@-webkit-keyframes particle-appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes particle-appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes particle-animation-1 {
  100% {
    -webkit-transform: translate3d(55vw, 74vh, 12px);
            transform: translate3d(55vw, 74vh, 12px);
  }
}

@keyframes particle-animation-1 {
  100% {
    -webkit-transform: translate3d(55vw, 74vh, 12px);
            transform: translate3d(55vw, 74vh, 12px);
  }
}

.particle:nth-child(1) {
  -webkit-animation: particle-animation-1 120s infinite;
          animation: particle-animation-1 120s infinite;
  opacity: 0.86;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
  -webkit-transform: translate3d(4vw, 78vh, 6px);
          transform: translate3d(4vw, 78vh, 6px);
  background: white;
  -webkit-box-shadow: 0 0 2vw 0.4vw white;
          box-shadow: 0 0 2vw 0.4vw white;
}

@-webkit-keyframes particle-animation-2 {
  100% {
    -webkit-transform: translate3d(1vw, 35vh, 49px);
            transform: translate3d(1vw, 35vh, 49px);
  }
}

@keyframes particle-animation-2 {
  100% {
    -webkit-transform: translate3d(1vw, 35vh, 49px);
            transform: translate3d(1vw, 35vh, 49px);
  }
}

.particle:nth-child(2) {
  -webkit-animation: particle-animation-2 120s infinite;
          animation: particle-animation-2 120s infinite;
  opacity: 0.86;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
  -webkit-transform: translate3d(75vw, 9vh, 25px);
          transform: translate3d(75vw, 9vh, 25px);
  background: white;
  -webkit-box-shadow: 0 0 2vw 0.4vw white;
          box-shadow: 0 0 2vw 0.4vw white;
}

@-webkit-keyframes particle-animation-3 {
  100% {
    -webkit-transform: translate3d(40vw, 83vh, 19px);
            transform: translate3d(40vw, 83vh, 19px);
  }
}

@keyframes particle-animation-3 {
  100% {
    -webkit-transform: translate3d(40vw, 83vh, 19px);
            transform: translate3d(40vw, 83vh, 19px);
  }
}

.particle:nth-child(3) {
  -webkit-animation: particle-animation-3 120s infinite;
          animation: particle-animation-3 120s infinite;
  opacity: 0.59;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
  -webkit-transform: translate3d(49vw, 2vh, 21px);
          transform: translate3d(49vw, 2vh, 21px);
  background: white;
  -webkit-box-shadow: 0 0 2vw 0.4vw white;
          box-shadow: 0 0 2vw 0.4vw white;
}

@-webkit-keyframes particle-animation-4 {
  100% {
    -webkit-transform: translate3d(96vw, 68vh, 50px);
            transform: translate3d(96vw, 68vh, 50px);
  }
}

@keyframes particle-animation-4 {
  100% {
    -webkit-transform: translate3d(96vw, 68vh, 50px);
            transform: translate3d(96vw, 68vh, 50px);
  }
}

.particle:nth-child(4) {
  -webkit-animation: particle-animation-4 120s infinite;
          animation: particle-animation-4 120s infinite;
  opacity: 0.57;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
  -webkit-transform: translate3d(14vw, 21vh, 10px);
          transform: translate3d(14vw, 21vh, 10px);
  background: white;
  -webkit-box-shadow: 0 0 2vw 0.4vw white;
          box-shadow: 0 0 2vw 0.4vw white;
}

@-webkit-keyframes particle-animation-5 {
  100% {
    -webkit-transform: translate3d(78vw, 49vh, 39px);
            transform: translate3d(78vw, 49vh, 39px);
  }
}

@keyframes particle-animation-5 {
  100% {
    -webkit-transform: translate3d(78vw, 49vh, 39px);
            transform: translate3d(78vw, 49vh, 39px);
  }
}

.particle:nth-child(5) {
  -webkit-animation: particle-animation-5 120s infinite;
          animation: particle-animation-5 120s infinite;
  opacity: 0.82;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  -webkit-transform: translate3d(64vw, 100vh, 21px);
          transform: translate3d(64vw, 100vh, 21px);
  background: white;
  -webkit-box-shadow: 0 0 2vw 0.4vw white;
          box-shadow: 0 0 2vw 0.4vw white;
}

@-webkit-keyframes particle-animation-6 {
  100% {
    -webkit-transform: translate3d(72vw, 83vh, 29px);
            transform: translate3d(72vw, 83vh, 29px);
  }
}

@keyframes particle-animation-6 {
  100% {
    -webkit-transform: translate3d(72vw, 83vh, 29px);
            transform: translate3d(72vw, 83vh, 29px);
  }
}

.particle:nth-child(6) {
  -webkit-animation: particle-animation-6 120s infinite;
          animation: particle-animation-6 120s infinite;
  opacity: 0.55;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
  -webkit-transform: translate3d(71vw, 24vh, 21px);
          transform: translate3d(71vw, 24vh, 21px);
  background: white;
  -webkit-box-shadow: 0 0 2vw 0.4vw white;
          box-shadow: 0 0 2vw 0.4vw white;
}

@-webkit-keyframes particle-animation-7 {
  100% {
    -webkit-transform: translate3d(10vw, 10vh, 14px);
            transform: translate3d(10vw, 10vh, 14px);
  }
}

@keyframes particle-animation-7 {
  100% {
    -webkit-transform: translate3d(10vw, 10vh, 14px);
            transform: translate3d(10vw, 10vh, 14px);
  }
}

.particle:nth-child(7) {
  -webkit-animation: particle-animation-7 120s infinite;
          animation: particle-animation-7 120s infinite;
  opacity: 0.95;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -1.4s;
          animation-delay: -1.4s;
  -webkit-transform: translate3d(65vw, 16vh, 7px);
          transform: translate3d(65vw, 16vh, 7px);
  background: white;
  -webkit-box-shadow: 0 0 2vw 0.4vw white;
          box-shadow: 0 0 2vw 0.4vw white;
}

@-webkit-keyframes particle-animation-8 {
  100% {
    -webkit-transform: translate3d(73vw, 68vh, 27px);
            transform: translate3d(73vw, 68vh, 27px);
  }
}

@keyframes particle-animation-8 {
  100% {
    -webkit-transform: translate3d(73vw, 68vh, 27px);
            transform: translate3d(73vw, 68vh, 27px);
  }
}

.particle:nth-child(8) {
  -webkit-animation: particle-animation-8 120s infinite;
          animation: particle-animation-8 120s infinite;
  opacity: 0.25;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -1.6s;
          animation-delay: -1.6s;
  -webkit-transform: translate3d(33vw, 33vh, 44px);
          transform: translate3d(33vw, 33vh, 44px);
  background: white;
  -webkit-box-shadow: 0 0 2vw 0.4vw white;
          box-shadow: 0 0 2vw 0.4vw white;
}

@-webkit-keyframes particle-animation-9 {
  100% {
    -webkit-transform: translate3d(3vw, 99vh, 2px);
            transform: translate3d(3vw, 99vh, 2px);
  }
}

@keyframes particle-animation-9 {
  100% {
    -webkit-transform: translate3d(3vw, 99vh, 2px);
            transform: translate3d(3vw, 99vh, 2px);
  }
}

.particle:nth-child(9) {
  -webkit-animation: particle-animation-9 120s infinite;
          animation: particle-animation-9 120s infinite;
  opacity: 0.36;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -1.8s;
          animation-delay: -1.8s;
  -webkit-transform: translate3d(58vw, 62vh, 1px);
          transform: translate3d(58vw, 62vh, 1px);
  background: white;
  -webkit-box-shadow: 0 0 2vw 0.4vw white;
          box-shadow: 0 0 2vw 0.4vw white;
}

@-webkit-keyframes particle-animation-10 {
  100% {
    -webkit-transform: translate3d(84vw, 83vh, 29px);
            transform: translate3d(84vw, 83vh, 29px);
  }
}

@keyframes particle-animation-10 {
  100% {
    -webkit-transform: translate3d(84vw, 83vh, 29px);
            transform: translate3d(84vw, 83vh, 29px);
  }
}

.particle:nth-child(10) {
  -webkit-animation: particle-animation-10 120s infinite;
          animation: particle-animation-10 120s infinite;
  opacity: 0.38;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  -webkit-transform: translate3d(47vw, 47vh, 38px);
          transform: translate3d(47vw, 47vh, 38px);
  background: white;
  -webkit-box-shadow: 0 0 2vw 0.4vw white;
          box-shadow: 0 0 2vw 0.4vw white;
}

@-webkit-keyframes particle-animation-11 {
  100% {
    -webkit-transform: translate3d(92vw, 56vh, 28px);
            transform: translate3d(92vw, 56vh, 28px);
  }
}

@keyframes particle-animation-11 {
  100% {
    -webkit-transform: translate3d(92vw, 56vh, 28px);
            transform: translate3d(92vw, 56vh, 28px);
  }
}

.particle:nth-child(11) {
  -webkit-animation: particle-animation-11 120s infinite;
          animation: particle-animation-11 120s infinite;
  opacity: 0.34;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -2.2s;
          animation-delay: -2.2s;
  -webkit-transform: translate3d(25vw, 38vh, 17px);
          transform: translate3d(25vw, 38vh, 17px);
  background: white;
  -webkit-box-shadow: 0 0 2vw 0.4vw white;
          box-shadow: 0 0 2vw 0.4vw white;
}

@-webkit-keyframes particle-animation-12 {
  100% {
    -webkit-transform: translate3d(44vw, 32vh, 44px);
            transform: translate3d(44vw, 32vh, 44px);
  }
}

@keyframes particle-animation-12 {
  100% {
    -webkit-transform: translate3d(44vw, 32vh, 44px);
            transform: translate3d(44vw, 32vh, 44px);
  }
}

.particle:nth-child(12) {
  -webkit-animation: particle-animation-12 120s infinite;
          animation: particle-animation-12 120s infinite;
  opacity: 0.81;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -2.4s;
          animation-delay: -2.4s;
  -webkit-transform: translate3d(69vw, 91vh, 3px);
          transform: translate3d(69vw, 91vh, 3px);
  background: white;
  -webkit-box-shadow: 0 0 2vw 0.4vw white;
          box-shadow: 0 0 2vw 0.4vw white;
}

@-webkit-keyframes particle-animation-13 {
  100% {
    -webkit-transform: translate3d(86vw, 59vh, 28px);
            transform: translate3d(86vw, 59vh, 28px);
  }
}

@keyframes particle-animation-13 {
  100% {
    -webkit-transform: translate3d(86vw, 59vh, 28px);
            transform: translate3d(86vw, 59vh, 28px);
  }
}

.particle:nth-child(13) {
  -webkit-animation: particle-animation-13 120s infinite;
          animation: particle-animation-13 120s infinite;
  opacity: 0.11;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -2.6s;
          animation-delay: -2.6s;
  -webkit-transform: translate3d(52vw, 96vh, 19px);
          transform: translate3d(52vw, 96vh, 19px);
  background: white;
  -webkit-box-shadow: 0 0 2vw 0.4vw white;
          box-shadow: 0 0 2vw 0.4vw white;
}

@-webkit-keyframes particle-animation-14 {
  100% {
    -webkit-transform: translate3d(97vw, 92vh, 7px);
            transform: translate3d(97vw, 92vh, 7px);
  }
}

@keyframes particle-animation-14 {
  100% {
    -webkit-transform: translate3d(97vw, 92vh, 7px);
            transform: translate3d(97vw, 92vh, 7px);
  }
}

.particle:nth-child(14) {
  -webkit-animation: particle-animation-14 120s infinite;
          animation: particle-animation-14 120s infinite;
  opacity: 0.47;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -2.8s;
          animation-delay: -2.8s;
  -webkit-transform: translate3d(47vw, 61vh, 3px);
          transform: translate3d(47vw, 61vh, 3px);
  background: white;
  -webkit-box-shadow: 0 0 2vw 0.4vw white;
          box-shadow: 0 0 2vw 0.4vw white;
}

@-webkit-keyframes particle-animation-15 {
  100% {
    -webkit-transform: translate3d(7vw, 48vh, 48px);
            transform: translate3d(7vw, 48vh, 48px);
  }
}

@keyframes particle-animation-15 {
  100% {
    -webkit-transform: translate3d(7vw, 48vh, 48px);
            transform: translate3d(7vw, 48vh, 48px);
  }
}

.particle:nth-child(15) {
  -webkit-animation: particle-animation-15 120s infinite;
          animation: particle-animation-15 120s infinite;
  opacity: 0.18;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  -webkit-transform: translate3d(93vw, 59vh, 45px);
          transform: translate3d(93vw, 59vh, 45px);
  background: white;
  -webkit-box-shadow: 0 0 2vw 0.4vw white;
          box-shadow: 0 0 2vw 0.4vw white;
}

@-webkit-keyframes particle-animation-16 {
  100% {
    -webkit-transform: translate3d(81vw, 47vh, 12px);
            transform: translate3d(81vw, 47vh, 12px);
  }
}

@keyframes particle-animation-16 {
  100% {
    -webkit-transform: translate3d(81vw, 47vh, 12px);
            transform: translate3d(81vw, 47vh, 12px);
  }
}

.particle:nth-child(16) {
  -webkit-animation: particle-animation-16 120s infinite;
          animation: particle-animation-16 120s infinite;
  opacity: 0.16;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -3.2s;
          animation-delay: -3.2s;
  -webkit-transform: translate3d(35vw, 42vh, 10px);
          transform: translate3d(35vw, 42vh, 10px);
  background: white;
  -webkit-box-shadow: 0 0 2vw 0.4vw white;
          box-shadow: 0 0 2vw 0.4vw white;
}

@-webkit-keyframes particle-animation-17 {
  100% {
    -webkit-transform: translate3d(88vw, 77vh, 30px);
            transform: translate3d(88vw, 77vh, 30px);
  }
}

@keyframes particle-animation-17 {
  100% {
    -webkit-transform: translate3d(88vw, 77vh, 30px);
            transform: translate3d(88vw, 77vh, 30px);
  }
}

.particle:nth-child(17) {
  -webkit-animation: particle-animation-17 120s infinite;
          animation: particle-animation-17 120s infinite;
  opacity: 0.64;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -3.4s;
          animation-delay: -3.4s;
  -webkit-transform: translate3d(73vw, 35vh, 46px);
          transform: translate3d(73vw, 35vh, 46px);
  background: white;
  -webkit-box-shadow: 0 0 2vw 0.4vw white;
          box-shadow: 0 0 2vw 0.4vw white;
}

@-webkit-keyframes particle-animation-18 {
  100% {
    -webkit-transform: translate3d(42vw, 92vh, 24px);
            transform: translate3d(42vw, 92vh, 24px);
  }
}

@keyframes particle-animation-18 {
  100% {
    -webkit-transform: translate3d(42vw, 92vh, 24px);
            transform: translate3d(42vw, 92vh, 24px);
  }
}

.particle:nth-child(18) {
  -webkit-animation: particle-animation-18 120s infinite;
          animation: particle-animation-18 120s infinite;
  opacity: 0.47;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -3.6s;
          animation-delay: -3.6s;
  -webkit-transform: translate3d(80vw, 70vh, 35px);
          transform: translate3d(80vw, 70vh, 35px);
  background: white;
  -webkit-box-shadow: 0 0 2vw 0.4vw white;
          box-shadow: 0 0 2vw 0.4vw white;
}

@-webkit-keyframes particle-animation-19 {
  100% {
    -webkit-transform: translate3d(27vw, 44vh, 6px);
            transform: translate3d(27vw, 44vh, 6px);
  }
}

@keyframes particle-animation-19 {
  100% {
    -webkit-transform: translate3d(27vw, 44vh, 6px);
            transform: translate3d(27vw, 44vh, 6px);
  }
}

.particle:nth-child(19) {
  -webkit-animation: particle-animation-19 120s infinite;
          animation: particle-animation-19 120s infinite;
  opacity: 0.02;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -3.8s;
          animation-delay: -3.8s;
  -webkit-transform: translate3d(88vw, 78vh, 29px);
          transform: translate3d(88vw, 78vh, 29px);
  background: white;
  -webkit-box-shadow: 0 0 2vw 0.4vw white;
          box-shadow: 0 0 2vw 0.4vw white;
}

@-webkit-keyframes particle-animation-20 {
  100% {
    -webkit-transform: translate3d(45vw, 14vh, 43px);
            transform: translate3d(45vw, 14vh, 43px);
  }
}

@keyframes particle-animation-20 {
  100% {
    -webkit-transform: translate3d(45vw, 14vh, 43px);
            transform: translate3d(45vw, 14vh, 43px);
  }
}

.particle:nth-child(20) {
  -webkit-animation: particle-animation-20 120s infinite;
          animation: particle-animation-20 120s infinite;
  opacity: 0.72;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  -webkit-transform: translate3d(60vw, 82vh, 30px);
          transform: translate3d(60vw, 82vh, 30px);
  background: white;
  -webkit-box-shadow: 0 0 2vw 0.4vw white;
          box-shadow: 0 0 2vw 0.4vw white;
}

@-webkit-keyframes particle-animation-21 {
  100% {
    -webkit-transform: translate3d(57vw, 92vh, 20px);
            transform: translate3d(57vw, 92vh, 20px);
  }
}

@keyframes particle-animation-21 {
  100% {
    -webkit-transform: translate3d(57vw, 92vh, 20px);
            transform: translate3d(57vw, 92vh, 20px);
  }
}

.particle:nth-child(21) {
  -webkit-animation: particle-animation-21 120s infinite;
          animation: particle-animation-21 120s infinite;
  opacity: 0.69;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -4.2s;
          animation-delay: -4.2s;
  -webkit-transform: translate3d(62vw, 79vh, 39px);
          transform: translate3d(62vw, 79vh, 39px);
  background: white;
  -webkit-box-shadow: 0 0 2vw 0.4vw white;
          box-shadow: 0 0 2vw 0.4vw white;
}

@-webkit-keyframes particle-animation-22 {
  100% {
    -webkit-transform: translate3d(62vw, 63vh, 13px);
            transform: translate3d(62vw, 63vh, 13px);
  }
}

@keyframes particle-animation-22 {
  100% {
    -webkit-transform: translate3d(62vw, 63vh, 13px);
            transform: translate3d(62vw, 63vh, 13px);
  }
}

.particle:nth-child(22) {
  -webkit-animation: particle-animation-22 120s infinite;
          animation: particle-animation-22 120s infinite;
  opacity: 0.59;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -4.4s;
          animation-delay: -4.4s;
  -webkit-transform: translate3d(57vw, 52vh, 27px);
          transform: translate3d(57vw, 52vh, 27px);
  background: white;
  -webkit-box-shadow: 0 0 2vw 0.4vw white;
          box-shadow: 0 0 2vw 0.4vw white;
}

@-webkit-keyframes particle-animation-23 {
  100% {
    -webkit-transform: translate3d(59vw, 87vh, 41px);
            transform: translate3d(59vw, 87vh, 41px);
  }
}

@keyframes particle-animation-23 {
  100% {
    -webkit-transform: translate3d(59vw, 87vh, 41px);
            transform: translate3d(59vw, 87vh, 41px);
  }
}

.particle:nth-child(23) {
  -webkit-animation: particle-animation-23 120s infinite;
          animation: particle-animation-23 120s infinite;
  opacity: 0.39;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -4.6s;
          animation-delay: -4.6s;
  -webkit-transform: translate3d(51vw, 84vh, 4px);
          transform: translate3d(51vw, 84vh, 4px);
  background: white;
  -webkit-box-shadow: 0 0 2vw 0.4vw white;
          box-shadow: 0 0 2vw 0.4vw white;
}

@-webkit-keyframes particle-animation-24 {
  100% {
    -webkit-transform: translate3d(90vw, 33vh, 37px);
            transform: translate3d(90vw, 33vh, 37px);
  }
}

@keyframes particle-animation-24 {
  100% {
    -webkit-transform: translate3d(90vw, 33vh, 37px);
            transform: translate3d(90vw, 33vh, 37px);
  }
}

.particle:nth-child(24) {
  -webkit-animation: particle-animation-24 120s infinite;
          animation: particle-animation-24 120s infinite;
  opacity: 0.59;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -4.8s;
          animation-delay: -4.8s;
  -webkit-transform: translate3d(76vw, 57vh, 46px);
          transform: translate3d(76vw, 57vh, 46px);
  background: white;
  -webkit-box-shadow: 0 0 2vw 0.4vw white;
          box-shadow: 0 0 2vw 0.4vw white;
}

@-webkit-keyframes particle-animation-25 {
  100% {
    -webkit-transform: translate3d(91vw, 87vh, 36px);
            transform: translate3d(91vw, 87vh, 36px);
  }
}

@keyframes particle-animation-25 {
  100% {
    -webkit-transform: translate3d(91vw, 87vh, 36px);
            transform: translate3d(91vw, 87vh, 36px);
  }
}

.particle:nth-child(25) {
  -webkit-animation: particle-animation-25 120s infinite;
          animation: particle-animation-25 120s infinite;
  opacity: 0.93;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
  -webkit-transform: translate3d(40vw, 49vh, 48px);
          transform: translate3d(40vw, 49vh, 48px);
  background: white;
  -webkit-box-shadow: 0 0 2vw 0.4vw white;
          box-shadow: 0 0 2vw 0.4vw white;
}

@-webkit-keyframes particle-animation-26 {
  100% {
    -webkit-transform: translate3d(88vw, 49vh, 16px);
            transform: translate3d(88vw, 49vh, 16px);
  }
}

@keyframes particle-animation-26 {
  100% {
    -webkit-transform: translate3d(88vw, 49vh, 16px);
            transform: translate3d(88vw, 49vh, 16px);
  }
}

.particle:nth-child(26) {
  -webkit-animation: particle-animation-26 120s infinite;
          animation: particle-animation-26 120s infinite;
  opacity: 0.74;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -5.2s;
          animation-delay: -5.2s;
  -webkit-transform: translate3d(20vw, 18vh, 13px);
          transform: translate3d(20vw, 18vh, 13px);
  background: white;
  -webkit-box-shadow: 0 0 2vw 0.4vw white;
          box-shadow: 0 0 2vw 0.4vw white;
}

@-webkit-keyframes particle-animation-27 {
  100% {
    -webkit-transform: translate3d(13vw, 10vh, 50px);
            transform: translate3d(13vw, 10vh, 50px);
  }
}

@keyframes particle-animation-27 {
  100% {
    -webkit-transform: translate3d(13vw, 10vh, 50px);
            transform: translate3d(13vw, 10vh, 50px);
  }
}

.particle:nth-child(27) {
  -webkit-animation: particle-animation-27 120s infinite;
          animation: particle-animation-27 120s infinite;
  opacity: 0.38;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -5.4s;
          animation-delay: -5.4s;
  -webkit-transform: translate3d(50vw, 44vh, 8px);
          transform: translate3d(50vw, 44vh, 8px);
  background: white;
  -webkit-box-shadow: 0 0 2vw 0.4vw white;
          box-shadow: 0 0 2vw 0.4vw white;
}

@-webkit-keyframes particle-animation-28 {
  100% {
    -webkit-transform: translate3d(78vw, 4vh, 14px);
            transform: translate3d(78vw, 4vh, 14px);
  }
}

@keyframes particle-animation-28 {
  100% {
    -webkit-transform: translate3d(78vw, 4vh, 14px);
            transform: translate3d(78vw, 4vh, 14px);
  }
}

.particle:nth-child(28) {
  -webkit-animation: particle-animation-28 120s infinite;
          animation: particle-animation-28 120s infinite;
  opacity: 0.87;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -5.6s;
          animation-delay: -5.6s;
  -webkit-transform: translate3d(29vw, 69vh, 39px);
          transform: translate3d(29vw, 69vh, 39px);
  background: white;
  -webkit-box-shadow: 0 0 2vw 0.4vw white;
          box-shadow: 0 0 2vw 0.4vw white;
}

@-webkit-keyframes particle-animation-29 {
  100% {
    -webkit-transform: translate3d(55vw, 83vh, 42px);
            transform: translate3d(55vw, 83vh, 42px);
  }
}

@keyframes particle-animation-29 {
  100% {
    -webkit-transform: translate3d(55vw, 83vh, 42px);
            transform: translate3d(55vw, 83vh, 42px);
  }
}

.particle:nth-child(29) {
  -webkit-animation: particle-animation-29 120s infinite;
          animation: particle-animation-29 120s infinite;
  opacity: 0.46;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -5.8s;
          animation-delay: -5.8s;
  -webkit-transform: translate3d(37vw, 4vh, 29px);
          transform: translate3d(37vw, 4vh, 29px);
  background: white;
  -webkit-box-shadow: 0 0 2vw 0.4vw white;
          box-shadow: 0 0 2vw 0.4vw white;
}

@-webkit-keyframes particle-animation-30 {
  100% {
    -webkit-transform: translate3d(44vw, 77vh, 29px);
            transform: translate3d(44vw, 77vh, 29px);
  }
}

@keyframes particle-animation-30 {
  100% {
    -webkit-transform: translate3d(44vw, 77vh, 29px);
            transform: translate3d(44vw, 77vh, 29px);
  }
}

.particle:nth-child(30) {
  -webkit-animation: particle-animation-30 120s infinite;
          animation: particle-animation-30 120s infinite;
  opacity: 0.05;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -6s;
          animation-delay: -6s;
  -webkit-transform: translate3d(7vw, 60vh, 9px);
          transform: translate3d(7vw, 60vh, 9px);
  background: white;
  -webkit-box-shadow: 0 0 2vw 0.4vw white;
          box-shadow: 0 0 2vw 0.4vw white;
}

@-webkit-keyframes particle-animation-31 {
  100% {
    -webkit-transform: translate3d(71vw, 64vh, 26px);
            transform: translate3d(71vw, 64vh, 26px);
  }
}

@keyframes particle-animation-31 {
  100% {
    -webkit-transform: translate3d(71vw, 64vh, 26px);
            transform: translate3d(71vw, 64vh, 26px);
  }
}

.particle:nth-child(31) {
  -webkit-animation: particle-animation-31 120s infinite;
          animation: particle-animation-31 120s infinite;
  opacity: 0.76;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -6.2s;
          animation-delay: -6.2s;
  -webkit-transform: translate3d(70vw, 2vh, 9px);
          transform: translate3d(70vw, 2vh, 9px);
  background: white;
  -webkit-box-shadow: 0 0 2vw 0.4vw white;
          box-shadow: 0 0 2vw 0.4vw white;
}

@-webkit-keyframes particle-animation-32 {
  100% {
    -webkit-transform: translate3d(20vw, 90vh, 37px);
            transform: translate3d(20vw, 90vh, 37px);
  }
}

@keyframes particle-animation-32 {
  100% {
    -webkit-transform: translate3d(20vw, 90vh, 37px);
            transform: translate3d(20vw, 90vh, 37px);
  }
}

.particle:nth-child(32) {
  -webkit-animation: particle-animation-32 120s infinite;
          animation: particle-animation-32 120s infinite;
  opacity: 0.66;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -6.4s;
          animation-delay: -6.4s;
  -webkit-transform: translate3d(28vw, 33vh, 5px);
          transform: translate3d(28vw, 33vh, 5px);
  background: white;
  -webkit-box-shadow: 0 0 2vw 0.4vw white;
          box-shadow: 0 0 2vw 0.4vw white;
}

@-webkit-keyframes particle-animation-33 {
  100% {
    -webkit-transform: translate3d(52vw, 90vh, 43px);
            transform: translate3d(52vw, 90vh, 43px);
  }
}

@keyframes particle-animation-33 {
  100% {
    -webkit-transform: translate3d(52vw, 90vh, 43px);
            transform: translate3d(52vw, 90vh, 43px);
  }
}

.particle:nth-child(33) {
  -webkit-animation: particle-animation-33 120s infinite;
          animation: particle-animation-33 120s infinite;
  opacity: 0.45;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -6.6s;
          animation-delay: -6.6s;
  -webkit-transform: translate3d(47vw, 15vh, 7px);
          transform: translate3d(47vw, 15vh, 7px);
  background: white;
  -webkit-box-shadow: 0 0 2vw 0.4vw white;
          box-shadow: 0 0 2vw 0.4vw white;
}

@-webkit-keyframes particle-animation-34 {
  100% {
    -webkit-transform: translate3d(80vw, 32vh, 4px);
            transform: translate3d(80vw, 32vh, 4px);
  }
}

@keyframes particle-animation-34 {
  100% {
    -webkit-transform: translate3d(80vw, 32vh, 4px);
            transform: translate3d(80vw, 32vh, 4px);
  }
}

.particle:nth-child(34) {
  -webkit-animation: particle-animation-34 120s infinite;
          animation: particle-animation-34 120s infinite;
  opacity: 0.98;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -6.8s;
          animation-delay: -6.8s;
  -webkit-transform: translate3d(7vw, 6vh, 19px);
          transform: translate3d(7vw, 6vh, 19px);
  background: white;
  -webkit-box-shadow: 0 0 2vw 0.4vw white;
          box-shadow: 0 0 2vw 0.4vw white;
}

@-webkit-keyframes particle-animation-35 {
  100% {
    -webkit-transform: translate3d(51vw, 90vh, 21px);
            transform: translate3d(51vw, 90vh, 21px);
  }
}

@keyframes particle-animation-35 {
  100% {
    -webkit-transform: translate3d(51vw, 90vh, 21px);
            transform: translate3d(51vw, 90vh, 21px);
  }
}

.particle:nth-child(35) {
  -webkit-animation: particle-animation-35 120s infinite;
          animation: particle-animation-35 120s infinite;
  opacity: 0.93;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -7s;
          animation-delay: -7s;
  -webkit-transform: translate3d(11vw, 13vh, 35px);
          transform: translate3d(11vw, 13vh, 35px);
  background: white;
  -webkit-box-shadow: 0 0 2vw 0.4vw white;
          box-shadow: 0 0 2vw 0.4vw white;
}

@-webkit-keyframes particle-animation-36 {
  100% {
    -webkit-transform: translate3d(87vw, 33vh, 50px);
            transform: translate3d(87vw, 33vh, 50px);
  }
}

@keyframes particle-animation-36 {
  100% {
    -webkit-transform: translate3d(87vw, 33vh, 50px);
            transform: translate3d(87vw, 33vh, 50px);
  }
}

.particle:nth-child(36) {
  -webkit-animation: particle-animation-36 120s infinite;
          animation: particle-animation-36 120s infinite;
  opacity: 0.38;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -7.2s;
          animation-delay: -7.2s;
  -webkit-transform: translate3d(74vw, 57vh, 34px);
          transform: translate3d(74vw, 57vh, 34px);
  background: white;
  -webkit-box-shadow: 0 0 2vw 0.4vw white;
          box-shadow: 0 0 2vw 0.4vw white;
}

@-webkit-keyframes particle-animation-37 {
  100% {
    -webkit-transform: translate3d(68vw, 90vh, 27px);
            transform: translate3d(68vw, 90vh, 27px);
  }
}

@keyframes particle-animation-37 {
  100% {
    -webkit-transform: translate3d(68vw, 90vh, 27px);
            transform: translate3d(68vw, 90vh, 27px);
  }
}

.particle:nth-child(37) {
  -webkit-animation: particle-animation-37 120s infinite;
          animation: particle-animation-37 120s infinite;
  opacity: 0.11;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -7.4s;
          animation-delay: -7.4s;
  -webkit-transform: translate3d(6vw, 25vh, 45px);
          transform: translate3d(6vw, 25vh, 45px);
  background: white;
  -webkit-box-shadow: 0 0 2vw 0.4vw white;
          box-shadow: 0 0 2vw 0.4vw white;
}

@-webkit-keyframes particle-animation-38 {
  100% {
    -webkit-transform: translate3d(36vw, 75vh, 42px);
            transform: translate3d(36vw, 75vh, 42px);
  }
}

@keyframes particle-animation-38 {
  100% {
    -webkit-transform: translate3d(36vw, 75vh, 42px);
            transform: translate3d(36vw, 75vh, 42px);
  }
}

.particle:nth-child(38) {
  -webkit-animation: particle-animation-38 120s infinite;
          animation: particle-animation-38 120s infinite;
  opacity: 0.95;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -7.6s;
          animation-delay: -7.6s;
  -webkit-transform: translate3d(32vw, 90vh, 15px);
          transform: translate3d(32vw, 90vh, 15px);
  background: white;
  -webkit-box-shadow: 0 0 2vw 0.4vw white;
          box-shadow: 0 0 2vw 0.4vw white;
}

@-webkit-keyframes particle-animation-39 {
  100% {
    -webkit-transform: translate3d(46vw, 81vh, 1px);
            transform: translate3d(46vw, 81vh, 1px);
  }
}

@keyframes particle-animation-39 {
  100% {
    -webkit-transform: translate3d(46vw, 81vh, 1px);
            transform: translate3d(46vw, 81vh, 1px);
  }
}

.particle:nth-child(39) {
  -webkit-animation: particle-animation-39 120s infinite;
          animation: particle-animation-39 120s infinite;
  opacity: 0.05;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -7.8s;
          animation-delay: -7.8s;
  -webkit-transform: translate3d(74vw, 74vh, 48px);
          transform: translate3d(74vw, 74vh, 48px);
  background: white;
  -webkit-box-shadow: 0 0 2vw 0.4vw white;
          box-shadow: 0 0 2vw 0.4vw white;
}

@-webkit-keyframes particle-animation-40 {
  100% {
    -webkit-transform: translate3d(25vw, 97vh, 18px);
            transform: translate3d(25vw, 97vh, 18px);
  }
}

@keyframes particle-animation-40 {
  100% {
    -webkit-transform: translate3d(25vw, 97vh, 18px);
            transform: translate3d(25vw, 97vh, 18px);
  }
}

.particle:nth-child(40) {
  -webkit-animation: particle-animation-40 120s infinite;
          animation: particle-animation-40 120s infinite;
  opacity: 0.35;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -8s;
          animation-delay: -8s;
  -webkit-transform: translate3d(35vw, 63vh, 45px);
          transform: translate3d(35vw, 63vh, 45px);
  background: white;
  -webkit-box-shadow: 0 0 2vw 0.4vw white;
          box-shadow: 0 0 2vw 0.4vw white;
}

@-webkit-keyframes particle-animation-41 {
  100% {
    -webkit-transform: translate3d(49vw, 80vh, 29px);
            transform: translate3d(49vw, 80vh, 29px);
  }
}

@keyframes particle-animation-41 {
  100% {
    -webkit-transform: translate3d(49vw, 80vh, 29px);
            transform: translate3d(49vw, 80vh, 29px);
  }
}

.particle:nth-child(41) {
  -webkit-animation: particle-animation-41 120s infinite;
          animation: particle-animation-41 120s infinite;
  opacity: 0.07;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -8.2s;
          animation-delay: -8.2s;
  -webkit-transform: translate3d(55vw, 44vh, 39px);
          transform: translate3d(55vw, 44vh, 39px);
  background: white;
  -webkit-box-shadow: 0 0 2vw 0.4vw white;
          box-shadow: 0 0 2vw 0.4vw white;
}

@-webkit-keyframes particle-animation-42 {
  100% {
    -webkit-transform: translate3d(50vw, 86vh, 37px);
            transform: translate3d(50vw, 86vh, 37px);
  }
}

@keyframes particle-animation-42 {
  100% {
    -webkit-transform: translate3d(50vw, 86vh, 37px);
            transform: translate3d(50vw, 86vh, 37px);
  }
}

.particle:nth-child(42) {
  -webkit-animation: particle-animation-42 120s infinite;
          animation: particle-animation-42 120s infinite;
  opacity: 0.68;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -8.4s;
          animation-delay: -8.4s;
  -webkit-transform: translate3d(33vw, 83vh, 40px);
          transform: translate3d(33vw, 83vh, 40px);
  background: white;
  -webkit-box-shadow: 0 0 2vw 0.4vw white;
          box-shadow: 0 0 2vw 0.4vw white;
}

@-webkit-keyframes particle-animation-43 {
  100% {
    -webkit-transform: translate3d(13vw, 56vh, 19px);
            transform: translate3d(13vw, 56vh, 19px);
  }
}

@keyframes particle-animation-43 {
  100% {
    -webkit-transform: translate3d(13vw, 56vh, 19px);
            transform: translate3d(13vw, 56vh, 19px);
  }
}

.particle:nth-child(43) {
  -webkit-animation: particle-animation-43 120s infinite;
          animation: particle-animation-43 120s infinite;
  opacity: 0.74;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -8.6s;
          animation-delay: -8.6s;
  -webkit-transform: translate3d(55vw, 15vh, 4px);
          transform: translate3d(55vw, 15vh, 4px);
  background: white;
  -webkit-box-shadow: 0 0 2vw 0.4vw white;
          box-shadow: 0 0 2vw 0.4vw white;
}

@-webkit-keyframes particle-animation-44 {
  100% {
    -webkit-transform: translate3d(37vw, 35vh, 50px);
            transform: translate3d(37vw, 35vh, 50px);
  }
}

@keyframes particle-animation-44 {
  100% {
    -webkit-transform: translate3d(37vw, 35vh, 50px);
            transform: translate3d(37vw, 35vh, 50px);
  }
}

.particle:nth-child(44) {
  -webkit-animation: particle-animation-44 120s infinite;
          animation: particle-animation-44 120s infinite;
  opacity: 0.95;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -8.8s;
          animation-delay: -8.8s;
  -webkit-transform: translate3d(83vw, 25vh, 4px);
          transform: translate3d(83vw, 25vh, 4px);
  background: white;
  -webkit-box-shadow: 0 0 2vw 0.4vw white;
          box-shadow: 0 0 2vw 0.4vw white;
}

@-webkit-keyframes particle-animation-45 {
  100% {
    -webkit-transform: translate3d(35vw, 50vh, 15px);
            transform: translate3d(35vw, 50vh, 15px);
  }
}

@keyframes particle-animation-45 {
  100% {
    -webkit-transform: translate3d(35vw, 50vh, 15px);
            transform: translate3d(35vw, 50vh, 15px);
  }
}

.particle:nth-child(45) {
  -webkit-animation: particle-animation-45 120s infinite;
          animation: particle-animation-45 120s infinite;
  opacity: 0.92;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -9s;
          animation-delay: -9s;
  -webkit-transform: translate3d(27vw, 86vh, 6px);
          transform: translate3d(27vw, 86vh, 6px);
  background: white;
  -webkit-box-shadow: 0 0 2vw 0.4vw white;
          box-shadow: 0 0 2vw 0.4vw white;
}

@-webkit-keyframes particle-animation-46 {
  100% {
    -webkit-transform: translate3d(60vw, 77vh, 9px);
            transform: translate3d(60vw, 77vh, 9px);
  }
}

@keyframes particle-animation-46 {
  100% {
    -webkit-transform: translate3d(60vw, 77vh, 9px);
            transform: translate3d(60vw, 77vh, 9px);
  }
}

.particle:nth-child(46) {
  -webkit-animation: particle-animation-46 120s infinite;
          animation: particle-animation-46 120s infinite;
  opacity: 0.45;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -9.2s;
          animation-delay: -9.2s;
  -webkit-transform: translate3d(71vw, 67vh, 10px);
          transform: translate3d(71vw, 67vh, 10px);
  background: white;
  -webkit-box-shadow: 0 0 2vw 0.4vw white;
          box-shadow: 0 0 2vw 0.4vw white;
}

@-webkit-keyframes particle-animation-47 {
  100% {
    -webkit-transform: translate3d(58vw, 42vh, 9px);
            transform: translate3d(58vw, 42vh, 9px);
  }
}

@keyframes particle-animation-47 {
  100% {
    -webkit-transform: translate3d(58vw, 42vh, 9px);
            transform: translate3d(58vw, 42vh, 9px);
  }
}

.particle:nth-child(47) {
  -webkit-animation: particle-animation-47 120s infinite;
          animation: particle-animation-47 120s infinite;
  opacity: 0.1;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -9.4s;
          animation-delay: -9.4s;
  -webkit-transform: translate3d(98vw, 25vh, 47px);
          transform: translate3d(98vw, 25vh, 47px);
  background: white;
  -webkit-box-shadow: 0 0 2vw 0.4vw white;
          box-shadow: 0 0 2vw 0.4vw white;
}

@-webkit-keyframes particle-animation-48 {
  100% {
    -webkit-transform: translate3d(79vw, 4vh, 31px);
            transform: translate3d(79vw, 4vh, 31px);
  }
}

@keyframes particle-animation-48 {
  100% {
    -webkit-transform: translate3d(79vw, 4vh, 31px);
            transform: translate3d(79vw, 4vh, 31px);
  }
}

.particle:nth-child(48) {
  -webkit-animation: particle-animation-48 120s infinite;
          animation: particle-animation-48 120s infinite;
  opacity: 0.47;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -9.6s;
          animation-delay: -9.6s;
  -webkit-transform: translate3d(39vw, 27vh, 31px);
          transform: translate3d(39vw, 27vh, 31px);
  background: white;
  -webkit-box-shadow: 0 0 2vw 0.4vw white;
          box-shadow: 0 0 2vw 0.4vw white;
}

@-webkit-keyframes particle-animation-49 {
  100% {
    -webkit-transform: translate3d(43vw, 88vh, 25px);
            transform: translate3d(43vw, 88vh, 25px);
  }
}

@keyframes particle-animation-49 {
  100% {
    -webkit-transform: translate3d(43vw, 88vh, 25px);
            transform: translate3d(43vw, 88vh, 25px);
  }
}

.particle:nth-child(49) {
  -webkit-animation: particle-animation-49 120s infinite;
          animation: particle-animation-49 120s infinite;
  opacity: 0.18;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -9.8s;
          animation-delay: -9.8s;
  -webkit-transform: translate3d(45vw, 97vh, 23px);
          transform: translate3d(45vw, 97vh, 23px);
  background: white;
  -webkit-box-shadow: 0 0 2vw 0.4vw white;
          box-shadow: 0 0 2vw 0.4vw white;
}

@-webkit-keyframes particle-animation-50 {
  100% {
    -webkit-transform: translate3d(90vw, 81vh, 10px);
            transform: translate3d(90vw, 81vh, 10px);
  }
}

@keyframes particle-animation-50 {
  100% {
    -webkit-transform: translate3d(90vw, 81vh, 10px);
            transform: translate3d(90vw, 81vh, 10px);
  }
}

.particle:nth-child(50) {
  -webkit-animation: particle-animation-50 120s infinite;
          animation: particle-animation-50 120s infinite;
  opacity: 0.81;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -10s;
          animation-delay: -10s;
  -webkit-transform: translate3d(30vw, 48vh, 16px);
          transform: translate3d(30vw, 48vh, 16px);
  background: white;
  -webkit-box-shadow: 0 0 2vw 0.4vw white;
          box-shadow: 0 0 2vw 0.4vw white;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: url(../img/upside-down.jpg);
  background-color: #718bfc;
  background-size: cover;
  background-position: bottom;
  background-blend-mode: multiply;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
}

main {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2%;
  width: 100vw;
}

footer {
  /*Conteneur flex*/
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1%;
  position: absolute;
  width: 90%;
}

footer > p {
  /*Item flex*/
  /*Décoration*/
  color: #E8221C;
  font-family: "BenguiatStd", serif;
  font-size: 1.5rem;
  opacity: 0.5;
}

footer > div {
  /*Item flex*/
  /*Décoration*/
  color: #E8221C;
  cursor: pointer;
  font-size: 4rem;
  opacity: 0;
}

footer > div > i:hover {
  color: #718bfc;
  text-shadow: 0px 0px 10px #E8221C;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media only screen and (max-width: 480px) {
  footer {
    bottom: 10px;
  }
}
/*# sourceMappingURL=style.css.map */